## composite object
여러개의 데이터를 다룰 수 있는 container를 제공합니다.
- list: 리스트. 임시 데이터 저장소. 작은 데이터의 저장소
 - 각 성분에 대해 순서를 가지고 있다. 순서는 0 ~ n-1 로 지정할 수 있다.
 - 리스트의 각 성분(데이터)는 순서에 의해 접근합니다.
 - 생성시 `[]`를 사용하여 생성한다.
- tuple: 튜플. 변경 불가능한 데이터 저장소. 함수의 순서에 따른 파라미터(인자)들을 지정.
 - 각 성분에 대해 순서를 가지고 있다.
 - 각 성분(데이터)는 순서에 의해 접근합니다..
 - 생성시 `()`를 사용하여 생성한다.
- dict: 사전. 키-값의 구조를 가지고 있습니다. 함수의 이름있는 파라미터들을 지정.
 - 각 성분에 대해 순서가 없다.
 - 각 키는 유니크해야 한다.
 - 키의 역할은 구분하는 용도로 사용. 키는 흔히 값의 이름으로 쓰인다.
 - 값은 데이터를 저장하는 용도로 사용.
 - dict의 데이터(값)는 키를 통해 접근합니다..
 - 생성시 `{}`를 사용하여 생성한다. {k1:v1, k2:v2}
- set: 집합. dict 키의 저장소
 - 순서가 없슴.
 - 각 성분이 유니크합니다.
 - 각 성분은 중복을 허용하지 않습니다.
 - 집합연산을 제공. 합집합. 교집합. 차집합. 여집합.
 - 생성시 `{}`를 사용하여 생성한다. {k1, k2, ...}
 
모두 각 성분에 대한 type 제한이 없습니다.
>나중에 다룰 numpy array와의 차이점. - 각 성분은 동일한 data type이어야 한다.

### 리스트
순서를 가지고 있는 컨테이너로서 각 성분들을 언제든 추가하거나 제거할 수 있으며, 작은 데이터를 저장하거나, 대량의 데이터를 임시적으로만 저장하는 용도로 사용된다.
- 저장공간이 비효율적이다.
- 데이터를 읽는데, 시간이 오래걸리고, 연산시간도 오래걸린다.

In [1]:
l = []
type(l)

list

In [2]:
len(l)

0

In [3]:
l1 = [5]
len(l1)

1

In [4]:
l1[0]

5

In [5]:
l.append(5)

In [6]:
l

[5]

In [7]:
a = l.pop()
print(a)
print(l)

5
[]

In [8]:
l.append(8)

In [9]:
l

[8]

extend 메소드는 리스트 객체(l)를 변화시킨다.

In [12]:
l.extend(l1)
l

[8, 5]

더하기 연산자는 두 개의 리스트를 이어붙여서 새로운 리스트를 리턴합니다.

In [13]:
l2 =l + l1
l2

[8, 5, 5]

In [14]:
l

[8, 5]

In [15]:
l2.count(5)

2

In [16]:
l2

[8, 5, 5]

In [17]:
l2.insert(1, 2)
l2

[8, 2, 5, 5]

In [18]:
l2.remove(2)
l2

[8, 5, 5]

In [19]:
l2.insert(2, 4)
l2

[8, 5, 4, 5]

In [20]:
l2.remove(5)
l2

[8, 4, 5]

In [21]:
l2.insert(1, 5)
l2

[8, 5, 4, 5]

뒤에 있는 5를 제거하는 방법

In [22]:
l2.pop()
l2

[8, 5, 4]

In [23]:
l2.extend([5, 7])
l2

[8, 5, 4, 5, 7]

In [25]:
l3 = l2.copy()
l3

[8, 5, 4, 5, 7]

[Quiz] pop을 쓰지 않고, 뒤에 있는 5를 제거하는 방법

In [29]:
del l3[3]
l3

[8, 5, 4, 7]

마지막에 있는 5를 제거하는 것이 목적이었다.

In [30]:
l3 = l2.copy()
l3

[8, 5, 4, 5, 7]

In [32]:
l3 = l3[::-1]
l3.remove(5)
l3 = l3[::-1]
l3

[8, 5, 4, 7]

In [33]:
l3 = l2.copy()
l3

[8, 5, 4, 5, 7]

In [36]:
posFromLast = l3[::-1].index(5)
l3.pop(-(posFromLast+1))
l3

[8, 5, 4, 7]

#### 인덱싱:
- 점색인(point indexing): l2[2]. 리스트가 사라져서 스칼라가 됨. 차원축소
- 연속색인(continuous indexing): l2[start:end:by]. 리스트를 유지. 차원유지
 - start: 시작지점의 순서. 포함
 - end: 끝지점의 순서. 포함하지 않음
 - by: 차순순서와 뜀뛰기
- 불연속색인(fancy indexing): 점색인을 여러 개 하는 것. numpy array만 제공.

In [38]:
l2

[8, 5, 4, 5, 7]

In [39]:
l2[::2]

[8, 4, 7]

In [40]:
l2[2]

4

In [41]:
l2[::-1]

[7, 5, 4, 5, 8]

In [50]:
l3 = l2[::-1]
l3

[7, 5, 4, 5, 8]

In [51]:
l3.remove(5)
l3

[7, 4, 5, 8]

In [52]:
l3 = l3[::-1]
l3

[8, 5, 4, 7]

list의 주요 메소드:
- pop
- append
- extend
- remove
- count
- index

list의 속성으로 indexing

In [53]:
l2

[8, 5, 4, 5, 7]

sorted 함수는 정렬한 리스트를 반환하고, l2 자체를 변화시키지 않는다.

In [42]:
sorted(l2)

[4, 5, 5, 7, 8]

In [43]:
l2

[8, 5, 4, 5, 7]

l2 자체를 정렬해서 l2를 변화시킨다.

In [44]:
l2.sort()
l2

[4, 5, 5, 7, 8]

[Quiz] 아래와 같은 구구단을 작성하자.
```
[[2, 4, 6, ..., 16, 18],
 [3, 6, 9, ..., 24, 27],
 ...,
 [9, 18, ...., 72, 81]]
```

In [50]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [51]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
list99 = []
for i in range(2, 10):
    t = []
    for j in range(1, 10):
        t.append(i*j)
    list99.append(t)
list99

[[2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

리스트의 각 성분에 직접적인 접근을 통해 값을 대체

In [54]:
l2

[4, 5, 5, 7, 8]

In [55]:
l2[2] = 9
l2

[4, 5, 9, 7, 8]

list comprehension

In [56]:
[2*i for i in range(1, 9)]

[2, 4, 6, 8, 10, 12, 14, 16]

In [58]:
li = []
for i in range(1, 9):
    li.append(2*i)
li

[2, 4, 6, 8, 10, 12, 14, 16]

i가 짝수일 때만 위 연산을 수행해서 담자.
- [True_val for idx in iterator if condition]

In [60]:
[2*i for i in range(1, 9) if i % 2 == 0]

[4, 8, 12, 16]

1에서 8까지 짝수일 때는 2를 곱하고 홀수일때는 3을 곱해서 리스트에 저장하자.
- [True_val if condition else False_val for idx in iterator]

In [65]:
[2*i if i % 2 == 0 else 3*i for i in range(1, 9)]

[3, 4, 9, 8, 15, 12, 21, 16]

In [67]:
tuple(2*i if i % 2 == 0 else 3*i for i in range(1, 9))

(3, 4, 9, 8, 15, 12, 21, 16)

In [68]:
{2*i if i % 2 == 0 else 3*i for i in range(1, 9)}

{3, 4, 8, 9, 12, 15, 16, 21}

dict comprehension은 if else 구문을 사용할 때, key는 중복해서 넣어주지 않는다.

In [94]:
try:
    {i:2*i if i % 2 == 0 else i:3*i for i in range(1, 9)}
except Exception as e:
    print(e)

SyntaxError: invalid syntax (<ipython-input-94-9013dad4d102>, line 2)

In [77]:
{i:2*i if i % 2 == 0 else 3*i for i in range(1, 9)}

{1: 3, 2: 4, 3: 9, 4: 8, 5: 15, 6: 12, 7: 21, 8: 16}

### tuple
순서가 있지만, 변경불가능한 특성을 갖는다.

In [81]:
t= ()
type(t)

tuple

In [82]:
len(t)

0

In [83]:
t = (2, 4, '가')
t

(2, 4, '가')

In [84]:
len(t)

3

In [87]:
t[2:0:-1]

('가', 4)

In [88]:
list(t)

[2, 4, '가']

In [90]:
t

(2, 4, '가')

In [91]:
t2 = tuple(l)
t2

(8, 5)

In [92]:
t.index(4)

1

### dict
키와 값의 쌍으로 구성된 container로서, 키를 통해 값에 접근한다.

In [96]:
d = {}
type(d)

dict

In [97]:
d.items()

dict_items([])

In [98]:
d = {'a':5, 0:'b'}
d

{'a': 5, 0: 'b'}

In [101]:
for k, v in d.items():
    print(k)
    print(v)

a
5
0
b

In [102]:
d['a']

5

In [103]:
d[0]

'b'

In [104]:
d.keys()

dict_keys(['a', 0])

In [105]:
d.values()

dict_values([5, 'b'])

In [106]:
d.items()

dict_items([('a', 5), (0, 'b')])

In [86]:
d

{'a': 5, 0: 'b'}

In [107]:
d2 = dict([('a', 5), (0, 'b')])
d2

{'a': 5, 0: 'b'}

In [108]:
for k, v in d.items():
    print(k, v)

a 5
0 b

In [109]:
for k in d.keys():
    print(k, end=', ')
    print(d[k])

a, 5
0, b

In [110]:
d.pop('a')

5

In [111]:
d

{0: 'b'}

In [112]:
d[0] = 'd'
d

{0: 'd'}

In [113]:
from math import pi
d['3.14'] = pi

In [115]:
d

{0: 'd', '3.14': 3.141592653589793}

In [116]:
d['list'] = []
d

{0: 'd', '3.14': 3.141592653589793, 'list': []}

In [118]:
d['list'].append(7)
d

{0: 'd', '3.14': 3.141592653589793, 'list': [7]}

###  set
dict의 key를 저장하는 용도로 사용하며, 따라서 각 성분들은 유일하다.

In [120]:
d2

{'a': 5, 0: 'b'}

In [119]:
set(d2)

{0, 'a'}

In [121]:
l2.append(5)
l2

[4, 5, 9, 7, 8, 5]

In [122]:
s1 = set(l2)
s1

{4, 5, 7, 8, 9}

In [123]:
s2 = set(t)
s2

{2, 4, '가'}

In [124]:
s1.difference(s2)

{5, 7, 8, 9}

In [125]:
s2.difference(s1)

{2, '가'}

In [126]:
s1.union(s2)

{2, 4, 5, 7, 8, 9, '가'}

In [127]:
s1.intersection(s2)

{4}

### string
tuple과 동일하게 순서가 있고, 변경불가능한 문자열.

In [128]:
s = 'abc'
s

'abc'

In [130]:
type(s)

str

In [131]:
s[0]

'a'

overflow indexing은 특별히 예외처리하지 않아도 된다.

In [135]:
s[1:5]

'bc'

In [136]:
s[0] = 'd'

TypeError: 'str' object does not support item assignment

In [139]:
t[3] = 5

TypeError: 'tuple' object does not support item assignment

In [140]:
s.find('b')

1

### 사전문제

In [141]:
li = [1,9,8,7,2]
li

[1, 9, 8, 7, 2]

In [142]:
m = 0
for i in li:
    m += i
    
m = m / len(li)
m

5.4

In [12]:
sorted(li)

[1, 2, 7, 8, 9]

In [143]:
median  = sorted(li)[int(len(li)/2)]

In [144]:
median

7

[Quiz] 어떤 정수 성분을 갖는 list가 주어질 때, 이 list에 있는 성분들을:
- {'짝수: [], '홀수':[]}와 같은 dict로 변환하자.
- 예로서 [-1, 7, 9, 2] => {'짝수: [2], '홀수':[-1, 7, 9]}

In [146]:
li = [-1, 7, 9, 2]

In [148]:
d = {}
d['짝수'], d['홀수'] = [], []
for i in li:
    if i % 2 == 0: d['짝수'].append(i)
    else: d['홀수'].append(i)
d

{'짝수': [2], '홀수': [-1, 7, 9]}

### 함수
정해진 입력을 받아 일정한 규칙에 따라 출력을 하는 python 객체
```python
def ft_name(argments):
    pass
    ret = statement
    return ret
```
- 입력이 없을 수도 있다.
- 출력이 없을 수도 있다.

lambda 함수:
```python
ft_name = lambda args: statement
```

In [151]:
def noneFt():
    print("None")

In [152]:
a = noneFt()

None

In [154]:
type(a)

NoneType

In [155]:
def add(a, b):
    return a + b

In [156]:
add(1, 3)

4

In [159]:
add('a', 'b')

'ab'

In [163]:
extl = add([3, 4], [5])
extl

[3, 4, 5]

In [164]:
def extendList(a):
    global extl
    extl.append(a)

In [165]:
k = extendList(3)
k

In [166]:
extl

[3, 4, 5, 3]

In [168]:
def hellow():
    return "abc"

In [169]:
k = hellow()
k

'abc'

In [170]:
add = lambda x, y: x+y

In [171]:
add(3,4)

7

#### 재귀함수
내가 내자신을 호출하는 함수

n! = n(n-1)(n-2)...2*1 
```
4! = 4*3*2*1 = 24
```

In [176]:
def factorial(n):
    if n == 1: return 1
    else: return n*factorial(n-1)

In [181]:
factorial(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

[Quiz] 99단을 작성하는 함수인데, 
1. 인자로 2 ~ 9까지의 정수가 들어오면 해당 99단을 출력합니다.
2. 인자로 정수의 리스트가 들어오면 그 정수값이 2 ~ 9 사이인 경우 차례대로 99단을 출력합니다.
3. 만약 처리해야될 구구단의 대상이 2 ~ 9 정수가 아니라면 "2 ~ 9 정수를 입력하세요." 라고 출력합니다.

테스트용 데이터는 아래 데이터를 사용합니다:
- a = 8
- intList = [7, -1, 3, 10, 9]

print99(a)

print99(intList)

In [15]:
2.1 in range(2, 10)

False

In [18]:
1 < 2.1 < 10

True

1. 반복해서 처리할 내용은 하나의 모듈로 캡슐레이션한다.
2. 외부에서 참조할 일이 없는 모듈은 내부로 숨긴다.

In [9]:
def print99(i):
    from collections.abc import Iterable
    def p99(j):
        if j in range(2, 10):
            l = [j*k for k in range(1, 10)]
            print(l)
        else: print("2 ~ 9 정수를 입력하세요.")
    if isinstance(i, Iterable):
        for j in i: p99(j)
    else: p99(i)

In [10]:
a = 8
intList = [7, -1, 3, 10, 9]

In [11]:
print99(a)

[8, 16, 24, 32, 40, 48, 56, 64, 72]

In [12]:
print99(intList)

[7, 14, 21, 28, 35, 42, 49, 56, 63]
2 ~ 9 정수를 입력하세요.
[3, 6, 9, 12, 15, 18, 21, 24, 27]
2 ~ 9 정수를 입력하세요.
[9, 18, 27, 36, 45, 54, 63, 72, 81]

#### 기본값을 갖는 인자

In [26]:
def add(a, b=1, c=3):
    print(f"a={a}, b={b}, c={c}")
    return a + b + c

튜플은 한번만 묶음을 풀어주면 된다.

In [32]:
add(7)

a=7, b=1, c=3

11

In [27]:
add(1, *(3, 4))

a=1, b=3, c=4

8

사전은 중괄호를 풀어주고, 키에 묶인 것도 풀어줘야 하므로 두번 풀어줘야 한다.

In [28]:
d = {'b':5, 'c':7}

In [30]:
add(1, **d)

a=1, b=5, c=7

13

함수의 인자에 기본값을 줄 수 있는데, 항상 기본값이 없는 인자들은 기본값을 가지는 인자들보다 앞서서 선언되어야 한다.

In [31]:
def errorAdd(b=1, c=3, a):
    print(f"a={a}, b={b}, c={c}")
    return a + b + c

SyntaxError: non-default argument follows default argument (<ipython-input-31-48efb77f5cc8>, line 1)

#### 반복처리 함수: map, reduce
데이터의 집합을 컨테이너라 할 때:
- 각각의 요소에 대한 연산을 map (n => n)
- 각각의 요소를 이용하여 어떤 연산을 통해 하나의 결과를 내는 것을 reduce (n => 1)

어떤 연산이라는 것이 다라 map과 reduce의 함수인자

In [34]:
intList

[7, -1, 3, 10, 9]

각 성분을 문자열로 변경하고자 한다.

In [38]:
strList = []
for i in intList:
    strList.append(str(i))
    
strList

['7', '-1', '3', '10', '9']

In [40]:
list(map(str, intList))

['7', '-1', '3', '10', '9']

In [41]:
for i in map(str, intList):
    print(i)

7
-1
3
10
9

In [42]:
sums = 0
for i in intList:
    sums += i
sums

28

In [44]:
def add(a, b): return a+b

In [48]:
from functools import reduce

In [50]:
reduce(add, intList, 0)

28

[Quiz] 아래와 같은 List에 대해:
- 짝수는 5를 곱해서 d['even']에 대한 value로 list로 저장시키고
- 홀수는 3을 곱해서 d['odd']에 대한 value로 list로 저장시켜, d를 출력하고
- 각각의 짝수값의 총합과 홀수값의 총합을 출력하는 함수를 작성하라.

```python
def mapReduceExamFt(lis):
    pass
    return sumEven, sumOdd, d
```

In [52]:
List = list(range(1, 128, 7))
List

[1, 8, 15, 22, 29, 36, 43, 50, 57, 64, 71, 78, 85, 92, 99, 106, 113, 120, 127]

In [63]:
def mapReduceExamFt(lis):
    add = lambda a, b: a+b
    def complexProd(x):
        if x%2 == 0: return x*5
        else: return x*3
    tmp = list(map(complexProd, lis))
    d = {}
    d['even'], d['odd'] = [], []
    for i in tmp:
        if i%2 == 0: d['even'].append(i)
        else: d['odd'].append(i)
    sumEven = reduce(add, d['even'], 0)
    sumOdd = reduce(add, d['odd'], 0)
    return sumEven, sumOdd, d

In [64]:
mapReduceExamFt(List)

(2880,
 1920,
 {'even': [40, 110, 180, 250, 320, 390, 460, 530, 600],
  'odd': [3, 45, 87, 129, 171, 213, 255, 297, 339, 381]})

### numpy
역행렬: 연립방정식 문제의 해(solution)을 구하기 위한 수학적인 방법.
```
3x + 4y -z = 0
5x + 2y + z = 1
-x - y + z = -1
```
일 때 이를 아래와 같이 표현:
```
(3   4 -1)(x)  = ( 0)
(5   2  1)(y)  = ( 1)
(-1 -1  1)(z)  = (-1)
XY = B
```
- X: 숫자로 표현된 관찰된 사실. 데이터
- y: 알고자하는 정답.
- b: bias. 하나의 관찰로 얻어진 편향.

In [16]:
import numpy as np
import scipy as sp
arr = np.array([2, 0, 1, -2, 3, 4, -5, 5, 6]).reshape((3,3))
arr

array([[ 2,  0,  1],
       [-2,  3,  4],
       [-5,  5,  6]])

In [17]:
from scipy import linalg

In [18]:
linalg.inv(arr)

array([[ -2.,   5.,  -3.],
       [ -8.,  17., -10.],
       [  5., -10.,   6.]])

In [19]:
arr.shape

(3, 3)

In [21]:
arr.reshape(-1, 9)

array([[ 2,  0,  1, -2,  3,  4, -5,  5,  6]])

#### 내적
$$a \cdot b = \sum_i a_i * b_i$$

In [22]:
a = np.array([4,3])
b = np.array([6,0])
print(a, b)

[4 3] [6 0]

In [23]:
a.dot(b)

24

In [24]:
a*b

array([24,  0])

In [25]:
np.sum(a*b)

24

#### 컨볼루션 연산
- Input.shape = (4,4) = (H, W) : if  W = H
- Filter.shape = (3,3) = (F, F)
- Padding.shape = (0,0) = (P, P)
- Stride.shape = (1,1) = (S, S)
- Output.shape = (2,2) = (O, O)

$$O = (W - F + 2P)/S + 1$$
$$2 = (4 - 3 + 2*0)/1 + 1$$

In [26]:
Input = np.array([1, 0, 0, 0, 1,1,1,1, 0,1,0,0, 1,1,0,1]).reshape((4,4))
Input

array([[1, 0, 0, 0],
       [1, 1, 1, 1],
       [0, 1, 0, 0],
       [1, 1, 0, 1]])

In [28]:
Filter = np.array([1,0,0, 0,1,1, 1,1,1]).reshape((3,3))
Filter

array([[1, 0, 0],
       [0, 1, 1],
       [1, 1, 1]])

In [31]:
conv = np.zeros((2,2))
for i in range(2):
    for j in range(2):
        conv[i, j] = np.sum(Input[i:i+3, j:j+3]*Filter)
        
conv

array([[4., 3.],
       [4., 3.]])

In [30]:
np.sum(Input[:3, :3]*Filter)

4